@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans", sans-serif;
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #171A1F;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
#sign-in{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#sign-in .cont-sign-in{
  margin-top: 100px;
  width: 450px;
  background: #FAFAFB;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 10px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
}
#sign-in .content-sign-in{
  background: #FFFFFF;
  border-radius: 10px; 
  padding: 24px;
}
#sign-in .title-text-under{
  text-align: center;
}
#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#sign-up .cont-sign-up {
  margin-top: 20px;
  width: 450px;
  background: #FAFAFB;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
}
#sign-up .content-sign-up {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
}
#sign-up .title-text-under {
  text-align: center;
}
.title-text{
  text-align: center;
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  color: #171A1F;
}
.title-text-under{
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #565D6D;
}
.input-form-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.input-form-box label{
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
}
.input-form-box input{
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  padding: 10px;
  border-radius: 6px;
  border-color: #DEE1E6;
  border-style: solid;
}
.cont-avt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-avt img{
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.input-form-box textarea{
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  padding: 10px;
  border-radius: 6px;
  border-color: #DEE1E6;
  border-style: solid;
  min-height: 50px;
  max-height: 170px;
}
.btn-sign-in-up{
  width: 100%;
  background-color: #0076D2;
  padding: 12px;
  text-align: center;
  border-radius: 6px; 
  color: #ffffff;
  border: none;
}
.cl-blue{
  color: #0076D2;
}

#complete-profile{
  min-height: 100vh;
  background: #FAFAFB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-complete-profile{
  width: 670px;
  background: #FFFFFF;
  padding: 55px;
  border-radius: 10px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
}
.header{
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  flex-shrink: 0;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
}
.name-web{
  font-size: 20px; 
  line-height: 20px; 
  font-weight: 700; 
  color: #0076D1FF; 
}
.header-right-site{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header-right-site li{
  width: 16px;
  height: 16px;
}
.footer{
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  flex-shrink: 0;
}
.footer-left-site ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-right-site{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.appointment, .profile, .connect, .chat{
  display: flex;
  height: 100vh;
  flex-direction: row;
  width: 100vw;

}
.appointment-right-site{
  width: 80%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}
.input-form-box select{
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  padding: 13px;
  border-radius: 6px;
  border: 1px solid #DEE1E6;
  border-style: solid;
}
.input-form-box input{
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #DEE1E6;
  border-style: solid;
}
.cont-content-appointment{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.map-appointment{
  border: 1px solid #DEE1E6;
  padding: 25px;
  border-radius: 10px;
  width: 55%;
  height: auto;
  align-self: flex-start;
}
.input-appointment{
  border: 1px solid #DEE1E6;
  padding: 25px;
  border-radius: 10px;
  width: 45%;
  align-self: flex-start;
}
.title-2{
  font-size: 24px; 
  line-height: 32px; 
  font-weight: 600; 
  color: #171A1F;
}
.title-text-under-2{
  font-size: 16px; 
  line-height: 24px; 
  font-weight: 400; 
  color: #565D6D;
}
.input-appointment{
  display: flex;
  flex-direction: column;
}
.cont-content-appointment .input-form-box{
  margin-bottom: 25px;
}
.btn-cont-2{
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn-short{
  padding: 8px 18px 6px 18px;
  border-radius: 6px; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
}
.cl-blue-for-btn{
  border: none;
  color: #FFFFFF;
  background-color: #0076D1;
}
.cl-white-for-btn{
  color: #171A1F;
  background-color: #FFFFFF;
  border: 1px solid #DEE1E6;
}
textarea{
  resize: vertical;
}
.txt-ct{
  text-align: center;
}
.fs-35{
  font-size: 35px;
}
.style-icon{
  width: 20px;
  height: 20px;
  color: #565D6D;
}
.style-icon.cl-blue{
  color: #0076D1;
}
.scoll-auto > * {
  height: calc(100% - 60px);
  overflow-y: auto;
}